h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;


}

body {
    background-color: #8BA189;

}








input[type=text] {
    width: 130px;
    height: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 0 auto;
    display: block;

}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;

}